<center><img src ="/assets/Banner.png"></center>

    <section class="text-block">
      <div class="features text-center dark-bg">
        <div class="container">
          <div class="row-fluid">
            <article class="span3">
              <i class="icon-resize-full"></i>
              <h3 class="with-border">Speed</h3>
              <p>Learn about all the recent music added as early as possible. </p>
            </article>
            <article class="span3">
              <i class="icon-magic"></i>
              <h3 class="with-border">Organization</h3>
              <p>Every artist you follow and all of their music is all displayed on one simple page. </p>
            </article>
            <article class="span3">
              <i class="icon-thumbs-up"></i>
              <h3 class="with-border">Platforms</h3>
              <p>We currently track your favorite artists on Spotify and SoundCloud. More platforms such as Beatport will be coming soon!</p>
            </article>
            <article class="span3">
              <i class="icon-cogs"></i>
              <h3 class="with-border">Discover</h3>
              <p>A smart recommendation engine will be implemented soon.</p>
            </article>
          </div>
        </div>  
      </div>  
      <div class="light-bg">
        <div class="container">
          <h2 class="with-border">Information and Contact</h2>
          <ul class="thumbnails">
            <li class="span4">
              <div class="thumbnail">
                <div class="img-wrap">
                    <div class="black-bg">
                      <i class="icon-zoom-in"></i>
                    </div>
                  </a>
                </div>  
                <a href="#">
                  <h3 class="with-border color">Contact</h3>
                  <p>SpeEDM was developed and created by Sanjay Chakravorty(sjchakrav@gmail.com) and Brian Choy.</p>
                </a>
              </div>  
            </li>
            <li class="span4">
              <div class="thumbnail">
                <div class="img-wrap">
                    <div class="black-bg">
                      <i class="icon-zoom-in"></i>
                    </div>  
                  </a>
                </div>
                <a href="#">
                  <h3 class="with-border color">How to use the App</h3>
                  <p>After logging in with your spotify credentials you'll be redirected to your user dashboard. To begin following artists you simply type in the name of the artist in the search bar at the top and then follow the artist. All artists you're following will be displayed in the user dashboard as well as all their relevant tracks!</p>
                </a>
              </div>  
            </li>
            <li class="span4">
              <div class="thumbnail">
                <div class="img-wrap">
                    <div class="black-bg">
                      <i class="icon-zoom-in"></i>
                    </div>  
                  </a>
                </div>
                <a href="#">
                  <h3 class="with-border color">Search Engine Optimization and API Information</h3>
                  <p>We have refined the search engine to make fewer calls to the API resulting in a faster processing time. Spotify and Soundcloud's API have been successfully integrated.</p>
                </a>
              </div>  
            </li>
          </ul> 
        </div>
      </div>  
      <div class="dark-bg"> 
        <div class="container">
          <div class="row-fluid">
            <div class="span6">
              <h2 class="with-border">Why use SpeEDM?</h2>
              <div id="accordion" class="section">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <i class="icon-resize-full"></i> Efficiency
                    </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Learn bout all the latest music as early as possible and as fast as possible.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <i class="icon-magic"></i> Organization
                    </a>
                  </div>
                  <div id="collapseTwo" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Enjoy the simplicity of having all your favorite artists and their music displayed on one page. </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      <i class="icon-thumbs-up"></i> Platforms
                    </a>
                  </div>
                  <div id="collapseThree" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Spotify and Soundcloud have been succesfully integrated. Beatport and more to come soon!</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                      <i class="icon-cogs"></i> Discover
                    </a>
                  </div>
                  <div id="collapseFour" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Discover new music and broaden your horizons.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>    
    </section>
    <a class="goTop goTop-link"><i class="icon-angle-up"></i></a>