<strong>Hi <%= @spotify_user.display_name %></strong>

<p>
  <strong>Artists following:</strong>
  
</p>

<%= @artist_searched %>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>